title Newsletter
meta(charset="utf-8")
meta(name="viewport", content="width=device-width,initial-scale=1,shrink-to-fit=no")
link(href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap", rel="stylesheet")
link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
link(rel="stylesheet", href="https://preview.colorlib.com/theme/bootstrap/login-form-20/css/A.style.css.pagespeed.cf.eQk9-CoeFP.css")
body.img.js-fullheight(style="background-image:url('Background-Image.webp'); background-attachment: fixed;")
    section.ftco-section(style="padding: 0.5em 0;")
      .container
        .row.justify-content-center
          .col-md-6.text-center.mb-5
            .container(style="margin: 5vh 0;")
                img.w-25(src="icon.png")
            h2.heading-section Sign me up for the Newsletter!
        .row.justify-content-center
          .col-md-6.col-lg-4
            .login-wrap.p-0
              form.signin-form(action="/", method="POST")
                .form-group
                  input.form-control(type="text", placeholder="First Name", required, name="fname", autofocus)
                .form-group
                  input.form-control(type="text", placeholder="Last Name", name="lname", required)
                .form-group
                  input.form-control(type="email", placeholder="E-mail", name="email" required)
                .form-group
                  button.form-control.btn.btn-primary.submit.px-3.mt-5(type="submit") Sign Up
    script(src="js/jquery.min.js")
    script(src="js/popper.js+bootstrap.min.js+main.js.pagespeed.jc.9eD6_Mep8S.js")
    script eval(mod_pagespeed_T07FyiNNgg);
    script eval(mod_pagespeed_zB8NXha7lA);
    script eval(mod_pagespeed_xfgCyuItiV);
    script(defer, src="https://static.cloudflareinsights.com/beacon.min.js", data-cf-beacon="{rayId:665c9daa1e8e31f3,token:cd0b4b3a733644fc843ef0b185f98241,version:2021.5.2,si:10}")