meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width,initial-scale=1")
link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
title Newsletter
.container-fluid.px-0.mx-0.row.align-items-center(style="height: 100vh;")
  .jumbotron.jumbotron-fluid.w-100
    .container.text-center
      h1.display-4(style="font-size: 12vmin;") HURRAY!
      p.lead(style="font-size: 5vmin;") You have successfully signed up for the newsletter.